.Container{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url('./cool-background.png');
  background-size: cover;
}


.quoteBox{
  display: inline;
  width: 500px;  /* content width */
  padding: 20px;  /* space between content and border */
  margin: 20px;  /* space between border and other elements */
  border-width: 20px;  /* border thickness */
  border-style:solid;
  border-radius:0px; /* round corners */
  background-color:#F4F4F4; /* try red, orange, ... */


}
.quoteBox:hover {
  border-width:30px; /* border thickness */
  border-color:#29AAE1;
  background-color:white; /* try red, orange, ... */
}

.quoteButton{
  margin: 1em 4%;
  text-align: center;  

  
}

.quote{
  margin: 1em;
  font-family: monospace;
}

.author{
  margin: .1em;
  font-family: monospace;
  float: right;
}
@media only screen and (max-device-width: 480px) {
  
  .author{
    margin: .1rem;
  }
  .quoteButton{
    margin: 4px 0% !important;
    
  }
 
}



