.App{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: #EFEFBB; 
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
  background: linear-gradient(to right, #D4D3DD, #EFEFBB);

}




.quoteBox{
  position:absolute;
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
  background: linear-gradient(to right, #D4D3DD, #EFEFBB);
  border: 1px solid black;
  width: 500px;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  border-radius: 10px 10px 10px 10px;

}

.quoteButton{
  position: relative;
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.tweetButton{
  position: relative;
  display:flex;
}
.whatsAppButton{
  position: relative;
  padding-top: .4em;
  display: flex;
  
}

button{
font-family: cursive;
}


button:hover{
  background-color:rgb(192, 192, 219);
}

button:active{
  position: relative;
  top: 1px;
}

.quote{
  margin: 1em;
  font-family: georgia;
}

.author{
  margin: .1em;
  font-family: impact;
  float: right;
}
@media only screen and (max-device-width: 480px) {
  
  .quoteBox{
    width: fit-content;
  }
  .author{
    margin: .1rem;
  }
  .quoteButton{
    margin: 1em;
  }
  

}



